
.contact_Img{
    width: 100%;
    border-radius: 4px;

}



#toolbar{
    display: none;
}

.linkedInIcon{
    width: 3vw;
    filter: grayscale(100%)
}
.linkedInIcon:hover{
    width: 3vw;
    filter: none;
    cursor: pointer;
}

.githubIcon{
    width: 3vw;
    filter: grayscale(100%);
    
}
.githubIcon:hover{
    width: 3vw;
    filter: none;
    cursor: pointer;
    
    
}

.emailIcon{
    width: 3vw;
    filter: grayscale(100%);
    
}
.emailIcon:hover{
    width: 3vw;
    filter: none;
    cursor: pointer;
    
    
}

#socialMedia{
    display: flex;
    /* justify-content: center; */
    /* gap: 5vw; */
    margin-right: 20%;


    
}

/* .introPara {
    align-items: start;
} */



footer{
    font-family: "jersey 25";
    margin-top: 10vh;
    
}

/* #middle  #fake{
    display: flex;


} */

/* #fake img{

    width: 3vw;
    position: relative;
    top: 78.6vh;
    right: 5.01vw;
    z-index: 999;
    border-radius: 50%;

} */