 *{
    padding: 0px;
}

#container{
    height: 100%;
    overflow: auto;
    
}

.spinners{
    padding-top: 20vh;
    color: azure;
    font-size: 2em;
}

#carouselExampleAutoplaying > .carousel-inner {
    display: flex;
    /* margin-left: 40%; */
}

div > h3{
    text-align: center;
    font-family: "jersey 25";
    color: darkred;
    text-decoration: overline underline;
}

.carousel-item{
    padding-top: 20vh;
    

}

/* .carousel-control-prev{
    margin-left: 10vw;
}

.carousel-control-next{
    margin-right: 10vw;
} */

img{
    min-width: 20rem;
    min-height: 20rem;
    object-fit: contain;
    
}

#footer{
    margin-top: -25vh;
}



